<!DOCTYPE html>
<html>
 <head>   
      <meta charset="utf-8"> 
      <title>Creditos</title>
   	 <link rel='stylesheet' href='/stylesheets/style.css' />
   	 <link rel="stylesheet" type="text/css" media='only screen and (min-width: 530px) and (min-device-width: 481pxx)' href="/stylesheet/wide.css" />
     <link rel="stylesheet" type="text/css" media='only screen and (max-width: 480px)' href="/stylesheet/smartphone.css" />
     <link rel="icon" href="favicon.ico" type="image/x-icon" />
  </head>

  <body>
    <form method="get" action="/quizes">
    <input type="text" name="search" value="Busque una pregunta"/>
    <input type="submit" value="Buscar">
    </form>   
    <br>
    <center>
    <table class="tabla">
        <% var i; for (i=0; i < quizes.length; i++) { %>
        <tr>
        <td><a href="quizes/<%= quizes[i].id %>"><%= quizes[i].pregunta %></a></td>
        <td><a href="quizes/<%= quizes[i].id %>/edit"><button>editar</button></a></td>
        <td>
           <form method="post" action="quizes/<%=quizes[i].id %>?_method=delete">
              <button type="submit" onClick="return confirm('Borrar: <%=quizes[i].pregunta %>');">
              Borrar
              </button>
          </form>
         </td>
        </tr>
          <% } %>
    </table>
    <!--<p/> -->
<a href="/quizes/new"><button type="button">Crear pregunta</button></a>
  </center>
  </body>
</html>
