<h2>Estadísticas de la base de datos:</h2>

<table class="tablaestadisticas"> 
	<center>
    <tr>Número de preguntas: <%=num_preg%> </tr> <br>
    <tr> Número de comentarios: <%=num_com%> </tr> <br>
    <tr>Número medio de comentarios por pregunta: <%=media%> </tr> <br>
    <tr>Número de preguntas con comentarios: <%=preg_con_coment%> </tr> <br>
    <tr>Número de preguntas sin comentarios: <%=preg_sin_coment%> <br>
    </center>
</table>
